<div class="container">
    <div>
        <form action="">
            <input type="text" id="calcInput">
            <button type="button" class="btn" id="btn">Calculate</button>
        </form>
    </div>
    <h4 id="answerBox"></h4>
</div>
<script src="../public/index.js"></script>