<div class="container">
    <div>
        <form action="">
            <input type="text" id="calcInput">
            <button type="button" class="btn" id="btn">Calculate</button>
        </form>
        <p id="answerBox"></p>
    </div>
    
</div>
<script src="/index.js"></script>