<div class="container">
    <div>
        <form action="">
            <input type="text" id="calcInput">
            <button type="submit " class="btn">submit</button>
        </form>
    </div>
</div>