{{#if username}}
<h1>Welcome {{username}}</h1>
{{/if}}
<h2>The Remembering Calculator</h2>

<p>This is a simple calculator, however, it sorts the most "popular" equations and displays them.</p>
<br>
<p>It's as simple as that. You're going to need to log in, but the system is pretty easy to spoof, just put 8 random characters in and you're on for life.</p>
<br>
<h2>How Does It Work?</h2>
<h3>Short Answer: Spreadsheets</h3>
<p>Long Answer:</p>
<br>
<p>By using a mySQL database the equation and the number of times it has been called is stored across users, and sorts them by the number of times it's been invoked. Simple, but surprisingly hard to wire together.</p>