<h2>Login</h2>

<<form action="/AddComment" method="POST">

    <input type="hidden" name="post_id" value="{{post_id}}">

    <input type="hidden" name="commenter_blogger_id" value="{{blogger_id}}">

    <label for="comment">Comment:</label><br>

    <input type="text" id="comment" name="comment"><br>

    <input type="submit" value="Submit">

</form>